[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "modelSelection"]
	path = modelSelection
	url = https://github.com/davidrusi/modelselection
[submodule "mombf"]
	path = mombf
	url = https://github.com/davidrusi/mombf
