[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mombf"]
	path = mombf
	url = https://github.com/davidrusi/mombf
	shallow = true
	registered = true
